h1, p, .name, .bio {	
    font-family: 'Raleway', sans-serif;	
    text-align: center;	
    margin: 4%;	
}	
h1 {	
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg');	
    padding: 20%;	
    background-position: center;	
    color: white;	
    font-size: 400%;	
}	
h1:hover {	
    opacity: 80%;	
}	
a {	
    text-decoration: none;	
    color: black;	
}	
a:hover {	
    font-weight: normal;	
}	
.name{	
    font-size: 150%;	
    font-weight: 200;	
}	
img {	
    height: 17rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	
img:hover {	
    opacity: 80%;	
}	
#artists-container {	
    display: grid;	
    grid-template-columns: 4;	
    grid-template-rows: auto;	
    grid-template-areas: 	
      "img img img img"	
      "name name name name"	
      "bio bio bio bio";	
}