/*CSS RESET*/
    html, body, div, span, applet, object, iframe,  
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
    a, abbr, acronym, address, big, cite, code,  
    del, dfn, em, img, ins, kbd, q, s, samp,  
    small, strike, strong, sub, sup, tt, var,  
    b, u, i, center,  
    dl, dt, dd, ol, ul, li,  
    fieldset, form, label, legend,  
    table, caption, tbody, tfoot, thead, tr, th, td,  
    article, aside, canvas, details, embed,  
    figure, figcaption, footer, header, hgroup,  
    menu, nav, output, ruby, section, summary,  
    time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    /* border: 0;   */
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;  
    }
/*GENERAL STYLES*/
    *{
        border:1px solid grey;
        box-sizing:border-box;
        max-width:100%;
    }

    html{
        font-size:62.5%;
    }
    body{
        font-size:1.6rem;
        line-height: 1.5;
        font-family: 'Raleway', sans-serif;	
        color:#4f4f4f;
    }
    h1, p, .name, .bio, a {	
        font-family: 'Raleway', sans-serif;	
        text-align: center;	
        margin: 4%;	
    }	
    h1{
        font-size:6rem;
        margin:0;
        font-weight:bold;
    }
    a {	
        text-decoration: none;	
        color: black;
        font-size:2.5rem;	
    }	
    a:hover {	
        font-weight: bolder;	
    }	
    .name{	
        font-size: 150%;	
        font-weight: 200;	
    }	
    img {	
        height:39rem;	
        object-fit: cover;	
        display: block;	
        margin: 2%;	
        margin-top: 4%;	
        margin-left: auto;	
        margin-right: auto;	
        border-radius: 2%;	
    }	
    img:hover {	
        opacity: 80%;	
    }	

/*HEADER STYLES */
    header{
        display:flex;
        justify-content: center;
    }
    nav{
        width:30%;
        display:flex;
        justify-content:center;
        /* margin:2%; */
        padding-top:3%;
    }
    nav a{
        width:33%;
        display: flex;
        color:#626262;
        flex-direction: row;
        justify-content: center;
        /* margin:0; */
    }
    #bold{
        font-weight:bold;
    }
    #bold:hover{
        font-weight:normal;
    }
    .bordered{
        border-left:3px solid #626262;;
        border-right:3px solid #626262;;
    }

/*Title Section Styles*/
    .title-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title-container div {
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg);
        background-position: center;
        color: white;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        margin: 2% 0;
        justify-content: center;
    }
    .title-container div:hover {	
        opacity: 80%;	
    }	
    .title-container hr{
        width:80%;
        margin:2%;
    }
    button{
        display:flex;
        width:15%;
        padding:1% 0;
        font-size: 1.6rem;
        border-radius:6px;
        border:2px solid #626262;
        box-shadow: 2px 2px 1px #626262;
        transition: 2s;
        flex-direction: row;
        justify-content: center;
    }
    button:hover{
        background-color:#626262;
        border:2px solid white;
        color:white;
        box-shadow: 2px 2px 1px white;
    }
/*Artists Section Styles */
    .artists-container{ /*section holding both artists' information*/
        display:flex;
        justify-content: space-between;
        width:90%;
        margin:0 auto;
    }

    .artist{ /*each artist is in a div with this class name*/
        display:flex;
        width:48%;
        text-align:center;
        flex-direction: column;
        align-items: center;
    }
    .pic{/*artist paintings in this div*/
        display:flex;
        width:75%;
        
    }
    .artist img{ /*painting*/
        width:100%;
        margin-top:0;
        margin-bottom:0;
    }
    .info{/*all artist information is in here*/
        display:flex;
        width:100%;
        flex-direction: column;
        align-items: stretch;
        margin:2% 0;
    }
    .info a{
        padding:2%;
        margin:0;
    }
    .bio{
        width:100%;
        margin:0;
    }
    
    


/*Responsive Styles*/
/*Tablet*/
@media(max-width:800px){

}

/*Phone*/
@media(max-width:500px){

}